
#particles-js{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body
{
    color: white;
    display: flex;
    margin: 0px;
    background: black;
}
.inside{
  border-color:  white;

   margin-top: 120px;
    position: absolute;
   height: 500px;
    width: 600px;
    
    text-align: center;
    justify-items: center;
}
.top{
    width: 100%;
    position: absolute;
    height: 100px;
    background-color: black;
}
.sub{
    background-color: white;
}
.document{
    height: 30px;
    width: 30px;
}
